.footer {
	position: fixed;
	z-index: 9999;
	display: flex;
	justify-content: space-between;
	left: 0;
	right: 0;
	bottom: 0;
	letter-spacing: 3px;
	font-size: 18px;
	background-color: white;
	height: 90px;
	box-shadow: 0px -10px 10px 3px rgba(35, 35, 26, 0.1);
}

.footer_left {
	margin-top: 35px;
	margin-left: 50px;
	text-align: left;
}

.footer_left_a {
	margin-right: 25px;
}

.footer a {
	text-decoration: underline;
}

.footer_right {
	margin-top: 35px;
	margin-right: 50px;
	text-align: right;
}