@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
body {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	color: #363633;
}

a:visited {
	color: #363633;
}
