.top {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
}
.top_image {
  z-index: 0;
}

.top_image_wrapper {
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}

.top_h1 {
  z-index: 1;
  position: relative;
  margin-top: 50vh;
  color: white;
  text-shadow: 1px 1px 20px #363633;
  letter-spacing: 10px;
  font-weight: 300;
}

.profile {
  margin-top: 100vh;
  margin-bottom: 250px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile_left {
  margin-top: 130px;
  margin-left: 200px;
  position: relative;
  width: 300px;
  height: 250px;
}

.profile_right {
  margin-top: 150px;
  margin-right: 100px;
  text-align: left;
}

.profile_h2 {
  font-weight: 400;
  font-size: 30px;
}

.profile_job {
  font-weight: 300;
  margin-top: 10px;
}

.profile_description {
  margin-top: 20px;
  margin-bottom: 30px;
  line-height: 28px;
}

.profile_email {
  font-size: 20px;
  text-decoration: underline;
  color: #363633;
}

.creation {
  background-color: #363633;
  padding-bottom: 200px;
  color: white;
  text-align: left;
  height: 100%;
  width: 100%;
}

.creation_header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.creation_stick {
  background-color: white;
  width: 120px;
  height: 2px;
}

.creation_index {
  font-size: 60px;
  margin-top: 40px;
  margin-left: 60px;
  font-weight: 200;
}

.creation_title {
  font-weight: 300;
  font-size: 48px;
  margin-left: 50px;
  padding-top: 40px;
}

.creation_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.creation_content_left {
  margin-left: 150px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.creation_image_color {
  width: 40px;
  height: 100px;
  background-color: white;
}

.creation_name {
  color: white;
  font-size: 40px;
  font-weight: 200;
  margin-left: 25px;
}

a:visited .creation_name {
  color: white;
}

.creation_content_right {
  position: relative;
  width: 220px;
  height: 220px;
  margin-right: 150px;
}
