.top {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
}
.top_image {
	z-index: 0;
}

.top_h1 {
	z-index: 1;
	position: relative;
	margin-top: 50vh;
	color: white;
	text-shadow: 1px 1px 20px #363633;
	letter-spacing: 10px;
	font-weight: 300;
	;
}
